{%extends 'main.html'%}
{%load static%}
{%block content%}
    <h1>Projects Template</h1>
    <br>
   
    
    <section class="hero-section text-center">
        <div class="container container--narrow">
            
    
            <div class="hero-section__search">
    
                <form id="searchForm" class="form" action="{% url 'profiles' %}" method="get">
                    <div class="form__field">
                        
                        <input class="search__project" type="text" name="search_query"
                            value="{{search_query}}" placeholder="Search by developer name" />
                    </div>
    
                    <input class="project__btn" type="submit" value="Search" />
                </form>
    
            </div>
        </div>
    </section>
            
    <div class="column">
        {%for project in projects%}

        <div class="card">
        <a style="text-decoration:none" href="{%url 'project' project.id%}" class="project">
            <img class="project__thumbnail" src="{{project.project_image.url}}"  />
            <h3 class="project__title">project title: {{project.title}}</h3>
            <h3 class="project__owner">owner:{{project.owner.name}}</h3>
            <h3 class="project__description">project description: {{project.description|slice:100}}</h3>
        </a>
        </div>
        
        {%endfor%}
        
    </div>
{%endblock%}